---
// List.astro
import PostPreview from '@/components/PostPreview.astro'
import type { Gist } from '@/utils/services'

interface Props {
  data: Gist[]
}

const { data } = Astro.props
---

<ul class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
  {
    data.map((gist) => (
      <li class="flex h-full">
        <PostPreview
          url={gist.html_url}
          title={gist.title}
          description={gist.description}
          pubDate={gist.articleDate}
          markdownFileName={gist.markdownFileName}
        />
      </li>
    ))
  }
</ul>
